.image4{
    height: 30px;
}
.image6{
    height: 50px;
}

.avatar-img2{
    border-radius: 50% !important;
}
.titre{
    font-size: 20px;
    color: #ffff;
    font-weight: bold;
    font-style: 'pla';
}